<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Piller</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./assets/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/demo.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/component.css" />  
  <link href="./assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
      <div class="container-demo-1">
      <div class="content">
        <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Piller</h1>
      <div class="row center">
        <h5 class="header col s12 light">Place to keep your pills</h5>
      </div>
      <div class="row center">
        <div class ="frontButtons">
          <!-- sign up form modal -->
          <button type="button" class="btn btn-medium waves-effect waves-blue red" type="button" name="action">Sign Up</button>

          <button type="button" class="btn btn-medium waves-effect waves-blue blue" type="button" name="action" id="loginButton">Login</button>
        </div>
        <!-- pill -->
        <!-- <div id="pillHolder">
            <img src="./assets/images/whitePill.png" id = "whitePill">
            <img src="./assets/images/redPill.png" id = "redPill">
        </div> -->
      </div>

      <!-- login form hidden -->
      <div class="row center" id="hide">
        <div class="col s4 offset-s4">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pass" type="password" class="validate">
                            <label for="pass">Password</label>
                        </div>
                    </div>
                        <div class="col m4">
                            <p>
                                <input type="checkbox" id="remember">
                                <label for="remember">Remember me</label>
                            </p>
                        </div>
                        <div class="col m4">
                            <p class="right-align">
                                <button class="btn btn-small waves-effect waves-blue red" type="button" name="action" id="backButton">back</button>
                            </p>
                        </div>
                        <div class="col m4">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-blue blue" type="button" name="action">Login</button>
                            </p>
                        </div>

                </form>
            </div>
        </div>
      </div>
<!--       <div class="row center">
        <div class="col s4 offset-s4">
             <p class="z-depth-5"></p>
        </div>
      </div> -->
    </div>
  </div>

          </div>
      </div>


    <br><br><br><br><br><br><br><br><br><br>



  <div class="container">
    <div class="section">

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>




  <!--  Scripts-->
  <script src="./assets/js/TweenLite.min.js"></script>
  <script src="./assets/js/EasePack.min.js"></script> 
  <script src="./assets/js/rAF.js"></script>    
  <script src="./assets/js/demo-1.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./assets/js/materialize.js"></script>
  <script src="./assets/js/init.js"></script>
  <script src="./assets/js/main.js"></script>

  </body>
</html>
